/*/ ******************BASE STYLING RESET*************** */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*/ ******************Default Styling*************** */

:root{
  --primary-color: #101010;
  --secondary-color:#e50914;
  --text-color-active: #ffffff;
  --text-color-inactive: #8d9293;
  --hover-state: rgb(124, 124, 124);
}
body{
background-color: var(--primary-color);
color: var(--text-color-active);
font-family: 'Source Sans Pro';
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--text-color-active);
}
/* Navbar styling */
nav{
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:0 2rem;
  align-items: center;
  height: 80px;
}
.navbar-left, .navbar-right{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 28%;
}
.nav-links{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav-links li{
  margin: 0 .8rem;
}
li a{
  transition: ease-in .2s;
}
li a:hover{
  color: var(--hover-state)
}

